:root {
    box-sizing: border-box;
    font-size: 100%;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --color-white: hsla(0deg, 0%, 100%, 1);
    --color-gray-75: hsla(0deg, 0%, 100%, 0.75);
    --primary-color: hsla(347, 81%, 45%, 0.822);
}

*,
 ::before,
 ::after {
    box-sizing: inherit;
    line-height: inherit;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    max-width: 100%;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}